{% load crispy_forms_tags %}
{% block title %}  {% endblock title %}
{% block content %}
<h1> ----Student Result Request Page-----</h1>

{% if submitted %}
    <p class="Success">
        Your Request Has been Sent Successfully..Thank you.
    </p>

{% else %}
    <form action="" method="post"> {% csrf_token %}
    
        <table>
            {{ form|crispy }}
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="submit" class="btn btn-Success" value="Submit"></td>
                </tr>
        </table>

    </form>

{% endif %}
{% endblock content %}